<!DOCTYPE html>
<html lang="ko">
<head th:replace="fragments :: defaultHead"></head>
<style>
    body{
	width:100%;
	height:100vh;
}
.modal{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
</style>
<body style="min-height: calc(100vh - 72px);">
    <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
        <div class="container">
            <div>
                <a class="navbar-brand" th:href="@{/}">삼공일</a>
            </div>
            <button class="navbar-toggler text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded"data-bs-toggle="modal" data-bs-target="#secession">사진삭제</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <section style="min-height: calc(100vh - 72px); margin-top: 75px;" class="page-section portfolio" id="portfolio" >
        <div class="container">
            <div class="ceting">       
                <img  class="cropping" th:src="'/img'+${photoUrl}">
            </div>
         </div>
	</section>
<footer th:replace="fragments :: footer"></footer>
    <div class="portfolio-modal modal fade" id="secession" tabindex="-1" aria-labelledby="secession" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                <div class="modal-body text-center pb-5">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <!-- Portfolio Modal - Title-->
                                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">사진을 삭제하시겠습니까?</h2>
                                <!-- Icon Divider-->
                                <form th:method="get" th:action="@{'/delete/'+${albumId}+'/'+${photoId}}">
                                	<button class="btn btn-primary" type="submit" data-bs-dismiss="modal" style="margin-top: 100px;">
	                                    <i class="fas fa-xmark fa-fw"></i>
	                                    확인
	                                </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="js/scripts.js"></script>
<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</html>