<!DOCTYPE html>
<html lang="ko" xmlns:th="http:/www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments :: defaultHead"></head>
<body style="min-height: calc(100vh - 72px);" class="page-top">
    <nav th:replace="fragments :: homeHead"></nav>
    <section style="min-height: calc(100vh - 72px)">
        <div class="bg-primary text-white text-center" style="padding-top: 300px;padding-bottom: 150px; min-height: calc(100vh - 72px)"  >
            <div class="container d-flex align-items-center flex-column">
                <h1 class="masthead-heading text-uppercase mb-0">환영합니다. </h1>
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <p class="masthead-subheading font-weight-light mb-0">잘정의 갤러리는 소장용 웹 앨범입니다.</p>
                <div style="margin-top: 30px" >
                    <div style="margin-top: 30px" sec:authorize="!isAuthenticated()">
                        <button class="btn-outline-secondary startFont " style="  border-radius: 12px;"><a th:href="@{/login}">시작하기</a></button>
                    </div>
                    <div style="margin-top: 30px" sec:authorize="isAuthenticated()">
                        <button class="btn-outline-secondary startFont " style="  border-radius: 12px;"><a th:href="@{/album}">시작하기</a></button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer th:replace="fragments :: footer"></footer>
</body>
<script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{js/scripts.js}"></script>
<script th:src="@{https://cdn.startbootstrap.com/sb-forms-latest.js}"></script>
</html>