<!DOCTYPE html>
<html lang="ko" xmlns:th="http:/www.thymeleaf.org">
<head th:replace="fragments :: loginHead"></head>
<body>
    <form class="wrap" method="POST" th:action="@{/login}" onsubmit="return test()" >
            <div class="login">
             <a th:href="@{/}"><img class="login_logo" src="./img/logo.jpg"></a>          
                <h2>로그인</h2>
                    <div class="login_id">
                        <h4>아이디</h4>
                        <input type="text" name="id" id="id" placeholder="아이디">
                        <p id="id2_err" class="warning">아이디를 입력해주세요</p><!-- warning 클래스는 빨간 글씨 스타일임 -->
                    </div>
                    <div class="login_pw">
                        <h4>패스워드</h4>
                        <input type="password" name="password" id="pw" placeholder="패스워드">
                        <p id="pw2_err" class="warning">패스워드를 입력해주세요</p><!-- warning 클래스는 빨간 글씨 스타일임 -->
                    </div>
                    <div class="login_etc">
                        <div class="forgot_pw">
                        <a th:href="@{/sign-up}">회원이 아니신가요?</a>
                    </div>
                    </div>
                    <div class="submit">
                        <input type="submit" value="로그인" style="cursor:pointer;" >
                    </div>
            </div>
    </form>
</body>
<script>
	window.onload = function() {
		const id = document.getElementById("id");
		const pw = document.getElementById("pw");
	    const id2_err = document.getElementById("id2_err");
	    const pw2_err = document.getElementById("pw2_err");
	    id.focus();
	  }
	
	  
	function test() {
	    //변수에 담아주기
	  
	    if (id.value === "") { //해당 입력값이 없을 경우 같은말: if(!uid.value)
	        id2_err.style.display="block";
	      id.focus(); //focus(): 커서가 깜빡이는 현상, blur(): 커서가 사라지는 현상
	      return false; //return: 반환하다 return false:  아무것도 반환하지 말아라 아래 코드부터 아무것도 진행하지 말것
	    }else{
	        id2_err.style.display="none";
	    }
	  
	    if (pw.value === "") { //해당 입력값이 없을 경우 같은말: if(!uid.value)
	        pw2_err.style.display="block";
	      pw.focus(); //focus(): 커서가 깜빡이는 현상, blur(): 커서가 사라지는 현상
	      return false; //return: 반환하다 return false:  아무것도 반환하지 말아라 아래 코드부터 아무것도 진행하지 말것
	    }else{
	        pw2_err.style.display="none";
	    }
	 
	    return true;
	    //입력 값 전송
	   
	  }
</script>
</html>